@import url("utility.css");

:root {
	--primary: #eac263;
	--secondary: #f2aa4c;
	--ternary: #22183a;
	--fourth: #46344e;
	--dark: #000;
	--pure: #fafafa;
}

@font-face {
	font-family: Poppins;
	src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
	font-family: neon;
	src: url("./fonts/neon.ttf");
}

@font-face {
	font-family: Victor Mono;
	src: url("./fonts/VictorMono-Regular.ttf");
}

@font-face {
	font-family: Request personal use;
	src: url("./fonts/RequestPersonalUse.ttf");
}

@font-face {
	font-family: Old English text MT;
	src: url("./fonts/OLDENGL.TTF");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-font-smoothing: antialiased;
	font-family: Poppins, sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
	background-color: var(--dark);
	background-image: url("gif4.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
/* 

Header, Navigation part ---------------------------------------------------------------------------->

*/

header {
	width: 140px;
	height: auto;
	padding: 0;
	position: fixed;
	top: 50%;
	left: 0;
	transform: translate(0%, -50%);
	z-index: 1000;
}

header nav {
	width: 100%;
	margin: 0;
	border: 1px solid var(--ternary);
	border-left: 0;
	border-radius: 0px 10px 10px 0px;
	transform: translateX(-100%);
	transition: transform 0.5s;
	will-change: transform;
	background: #22183acc;
}

header .menu {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
}

header nav a {
	margin: 0;
	width: 100%;
	font-size: 1em;
	color: var(--pure);
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	margin: 8px;
	padding: 3px;
}

header nav a::before,
header nav a::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 100%;
	background: #eac26355;
	opacity: 0;
	top: 0px;
	transition: all 0.5s;
}

header nav a::before {
	left: 5px;
	transform: translateX(15px);
	border-left: 1px solid var(--primary);
}

header nav a::after {
	right: 5px;
	transform: translateX(-15px);
	border-right: 1px solid var(--primary);
}

header nav a:hover:before,
header nav a:hover:after {
	opacity: 1;
	width: 90%;
	transform: translateX(0px);
}

header .container-button {
	position: fixed;
	margin: auto;
	padding: 0;
	left: 100%;
	width: 50px;
	height: 60px;
	background: transparent;
	top: 30%;
}

header .container-button .close {
	width: 100%;
	height: 100%;
	margin: 0;
	background: var(--ternary);
	cursor: pointer;
	border: none;
	position: relative;
	padding: 0;
	shape-outside: polygon(0 0, 50% 50%, 0 100%);
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.left-arrow::before,
.left-arrow::after,
.right-arrow::before,
.right-arrow::after {
	content: "";
	position: absolute;
	width: 20%;
	height: 20%px;
	background: #fff;
	color: #fff;
	border-right: 2px solid currentcolor;
	border-bottom: 2px solid currentcolor;
	transition: all 0.5s;
	left: 12px;
}

.left-arrow::before {
	top: 25px;
	transform: rotate(-45deg);
}

.left-arrow::after {
	bottom: 25px;
	transform: rotate(45deg);
}

.right-arrow::before {
	top: 25px;
	transform: rotate(45deg);
}

.right-arrow::after {
	bottom: 25px;
	transform: rotate(-45deg);
}

/*

mainContainer ----------------------------------------------------------------------------------->

*/

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.container audio {
	display: none;
	visibility: hidden;
}

main {
	width: 100%;
	margin: 0;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Machine learning */
main .sub {
	font-family: neon;
	font-size: 0.55em;
	text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
		0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
		0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
		0 0 60px rgba(30, 132, 242, 1);
	color: #28d7fe;
}

/*"Old English text MT", "Matura MT Script capitals"*/

main .heading {
	width: 100%;
	padding: 0;
	font-size: 24px;
	color: var(--primary);
	-webkit-text-stroke: 0.8px var(--pure);
	-webkit-text-fill-color: transparent;
	font-family: Request personal use;
	text-shadow: 0 0 1vw var(--primary), 0 0 5vw var(--primary), 0 0 10vw #faed26,
		0 0 5vw #faed26, 0.5vw 0.5vw 0.1vw #fe25;
	filter: saturate(200%) hue-rotate(100deg);
	-webkit-filter: saturate(200%) hue-rotate(100deg);
}

main .sub-part {
	margin: -5px;
	padding: 10px 20px;
	font-size: 0.65em;
	text-transform: uppercase;
	font-family: Victor Mono;
	color: var(--pure);
	text-justify: justify;
	backdrop-filter: saturate(200%) hue-rotate(0deg);
	-webkit-backdrop-filter: saturate(200%) hue-rotate(0deg);
}

main .readMoreBtnContainer {
	width: auto;
	height: auto;
	margin: 0;
	margin-top: 10px;
	padding: 0;
}

main .readMoreBtnContainer .readMoreBtn {
	padding: 5px 10px;
	color: var(--primary);
	text-decoration: none;
	border: 0 solid;
	outline: 0.5px solid;
	outline-color: var(--secondary);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

main .readMoreBtnContainer .readMoreBtn:hover {
	border: 1px solid;
	box-shadow: inset 0 0 5px #f2aa4ccc, 0 0 10px #f2aa4caa;
	outline-color: var(--secondary);
	outline-offset: 10px;
	text-shadow: 1px 1px 2px #f2aa4c, 1px 1px 1vw #fe25;
}
